* {
  text-align: center;
  background-color: rgb(26, 29, 29);
  color: white;
}

section {
  margin-top: 60px;
}

ul li {
  list-style: none;
}

.card {
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
  width: 190px;
}

ul {
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 120px;
  font-weight: bolder;
}

.card__total {
  font-size: 35px;
  text-shadow: 2px 5px 10px black;
}

.card__large {
  font-size: 43px;
}

.blue {
  background-color: rgb(24, 108, 244);
}

.green {
  background-color: rgb(21, 180, 21);
}

.yellow {
  background-color: rgb(194, 194, 12);
}

.orange {
  background-color: orangered;
}

.brown {
  background-color: rgb(166, 127, 54);
}

.animated {
    font-size: 5px;
  animation: beat 1s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(2.5);
  }
}
